/* Carousel Component
===================================================================================================================== */

.carouselcomponent {
  
  .carousel-indicators {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .slide {
    
    .slide-image {
      width: 100%;
      margin: 0;
    }
    
  }
  
}
